@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.carousel-item img {
    height: 600px;
}

.h2-color {
    color: #4a4a4a;
}
.course-img {
    object-fit: cover;
    max-height: 300px;
}
.fa-brands {
    height: 40px;
    width: 40px;
    background-color: #4a4a4a67;
    padding: 12px;
    border-radius: 50%;
    
}
.bg-overlay {
    filter: brightness(50%);
}
.feedback-student-img {
    height: 40px;
    width: 40px;
}


/* media queries */

@media only screen and (max-width: 778px){
    .carousel-item img {
        object-fit: cover;
    }
}
@media only screen and (max-width: 992px){
    .accordion {
        width: 100% !important;
    }
    
}